@using SocialConnect.Application.DTOs.User
@model UserDTO
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@* @{
    foreach (var item in Model)
    {
        <p>@item.Id</p>
        <p>@item.Name</p>
        <p>@item.Email</p>
        //<p>@item</p>
        //<p>@item</p>
    }
} *@


<p>@Model.Id</p>
<p>@Model.Name</p>
<p>@Model.Email</p>